/*

!.gitignore

# hay que decirle a git que no ignore estas carpetas para entrar en las subcarpetas
!/themes/
!/modules/
!/mails/
!/override/
!/config/

/config/*
!/config/defines_custom.inc.php

# volvemos a ignorarlo todo excepto el tema y los módulos que queramos
/themes/*
!/themes/kpy_theme/
#!/themes/kpy_theme/**
/themes/kpy_theme/assets/cache/*

/modules/*

!/modules/gamifications/
!/modules/gamifications/**

!/modules/kpyaboutus/
!/modules/kpyaboutus/**

!/modules/kpyamazonmailer/
!/modules/kpyamazonmailer/**

!/modules/kpyaccountverify/
!/modules/kpyaccountverify/**

!/modules/kpyaquaorders/
!/modules/kpyaquaorders/**

!/modules/kpycancellationrequest/
!/modules/kpycancellationrequest/**

!/modules/kpycartblocks/
!/modules/kpycartblocks/**

!/modules/kpycashondelivery/
!/modules/kpycashondelivery/**

!/modules/kpycategory/
!/modules/kpycategory/**

!/modules/kpycustomerform/
!/modules/kpycustomerform/**

!/modules/kpycustomerhistory/
!/modules/kpycustomerhistory/**

!/modules/kpyfaq/
!/modules/kpyfaq/**

!/modules/kpyhome/
!/modules/kpyhome/**

!/modules/kpymailtheme/
!/modules/kpymailtheme/**

!/modules/kpymanufacturer/
!/modules/kpymanufacturer/**

!/modules/kpymenu/
!/modules/kpymenu/**

!/modules/kpyordermaker/
!/modules/kpyordermaker/**

!/modules/kpypets/
!/modules/kpypets/**

!/modules/kpyproductavailabitymessages/
!/modules/kpyproductavailabitymessages/**

!/modules/kpyproductblocks/
!/modules/kpyproductblocks/**

!/modules/kpyproductdescription/
!/modules/kpyproductdescription/**

!/modules/kpyproductflags/
!/modules/kpyproductflags/**

!/modules/kpyproductform/
!/modules/kpyproductform/**

!/modules/kpyproductreviews/
!/modules/kpyproductreviews/**

!/modules/kpyspecialprices/
!/modules/kpyspecialprices/**

!/modules/neftysfarmaconnector/
!/modules/neftysfarmaconnector/**

!/modules/productcomments/
!/modules/productcomments/**

!/modules/redsyspur/
!/modules/redsyspur/**

**/.idea/
**/.vscode/
