<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>kpyorderdispatcher</name>
    <displayName><![CDATA[Kpy Order Dispatcher]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Handler the warehouse where orders are shipped.]]></description>
    <author><![CDATA[KPY Team]]></author>
    <tab><![CDATA[]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
</module>
