<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>kpycustomerform</name>
    <displayName><![CDATA[Kpy Customer Form]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Modify customer form fields]]></description>
    <author><![CDATA[PyM Team]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
</module>